<launch>

  <node pkg="camcontrol" name="cameracontrol_node" type="camcontrol_node.py" output="screen">
    <param name="svmModelFile" value="$(find camcontrol)/launch/model_svm.p" />
    <param name="svmParamsFile" value="$(find camcontrol)/launch/svm_params.p" />
  </node>

  <node pkg="camcontrol" name="img_show_node" type="img_show.py" output="screen" />
 
</launch>
